<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.newBG]="state">
  <ion-button (click)="mostrarDate()">
    teste date {{date}}
  </ion-button>
  <button ion-button outline (click)="screenShot()">Screenshot (PIC)</button>
  <button ion-button outline (click)="screenShotURI()">Screenshot (URI)</button>

  <img src="{{ screen }}" *ngIf="state">
  <ion-button (click)="addCustomTask()">
    teste
  </ion-button>
</ion-content>
